<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 >
	<Bundle Name="EffortlessHRM TimeTracker" Version="1.0.0.0" Manufacturer="ARSTEG" 
			UpgradeCode="df409280-4d33-43d5-a5b5-1a5bb99dcbd9"
			IconSourceFile="favicon.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
			<bal:WixStandardBootstrapperApplication LicenseUrl="" />
		</BootstrapperApplicationRef>

		
		<Chain>
			
			<!-- Add .NET Runtime 8 -->
			<ExePackage
				Id="DotNetRuntime8"
				SourceFile="dotnet-runtime-8.0.11-win-x64.exe"
				Cache="yes"
				Compressed="yes"
				PerMachine="yes"
				Vital="yes"
				DetectCondition="NETCORERUNTIME8INSTALLED"
				InstallCommand="--quiet --norestart" />

			<!-- Add your application MSI -->
			<MsiPackage
				Id="MyApplication"
				SourceFile="TimeTracker_v1.0.0.0.msi"
				DisplayInternalUI="yes"
				Compressed="yes" />
		</Chain>
	</Bundle>

	<Fragment>
		
		<Property Id="NETCORERUNTIME8INSTALLED">
			<RegistrySearch Id="NetCoreRuntime8Check" Root="HKLM" Win64="yes"
							Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
							Name="Version"
							Type="raw" />
		</Property>
		
		
	</Fragment>
	
</Wix>
