################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BrowserHistoryGatherer/bin
/BrowserHistoryGatherer/obj
/Tracker/bin
/Tracker/obj
/UrlHistoryLibrary/bin
/UrlHistoryLibrary/obj
/TimeTracker.Installer/bin
/TimeTracker.Installer/obj
/.vs



*.v2
*.v5
*.dll
*.props
*.cache
TimeTracker.Installer/Debug/setup.exe
*.msi
/TimeTracker.Setup/Release
