<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define TimeTracker_TargetDir=$(var.TimeTracker.TargetDir)?>
	<Product Id="*" Name="TimeTracker" Language="1033" Version="1.0.0.0" Manufacturer="ARSTEG" UpgradeCode="597e1da8-6790-4a82-b696-62cfe2c86133">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />


		<UIRef Id="WixUI_Minimal"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="Icon_files" />
			<ComponentGroupRef Id="Media_Audio_Files" />
			<ComponentGroupRef Id="Media_Image_Files" />
			<ComponentGroupRef Id="runtimes_linux64" />
			<ComponentGroupRef Id="runtimes_osx64" />
			<ComponentGroupRef Id="runtimes_win64" />
			<ComponentGroupRef Id="runtimes_win86" />
			<ComponentGroupRef Id="runtimes_win" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Effortless HRM">
					<Directory Id="Icons" Name="Icons"/>
					<Directory Id="Media" Name="Media">
						<Directory Id="Images" Name="Images" />
						<Directory Id="Audio" Name="Audio" />
					</Directory>
					<Directory Id="runtimes" Name="runtimes">
						<Directory Id="linux64" Name="linux-x64">
							<Directory Id="linux64_native" Name="native" />
						</Directory>
						<Directory Id="osx64" Name="osx-x64">
							<Directory Id="osx64_native" Name="native" />
						</Directory>
						<Directory Id="win64" Name="win-x64">
							<Directory Id="win64_native" Name="native" />
						</Directory>
						<Directory Id="win86" Name="win-x86">
							<Directory Id="win86_native" Name="native" />
						</Directory>
						<Directory Id="win" Name="win">
							<Directory Id="lib" Name="lib">
								<Directory Id="net7.0" Name="net7.0" />
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
	
	<Fragment>		
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="TimeTracker.runtimeconfig.json" Guid="8a5be993-1152-4ffa-a99d-136aef4af76e">
				<File Id="TimeTracker.runtimeconfig.json" Name="TimeTracker.runtimeconfig.json" Source="$(var.TimeTracker_TargetDir)TimeTracker.runtimeconfig.json" />
			</Component>
			<Component Id="appsettings.json" Guid="8C0DD340-D0BB-49F7-BB4F-F169860A32B6">
				<File Id="appsettings.json" Name="appsettings.json" Source="$(var.TimeTracker_TargetDir)appsettings.json" />
			</Component>
			<Component Id="Dapper.dll" Guid="C706B06F-5165-4912-A0AE-4A7D3909E12F">
				<File Id="Dapper.dll" Name="Dapper.dll" Source="$(var.TimeTracker_TargetDir)Dapper.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="614B6FFE-7ED8-4938-BCD4-1C437F56E405">
				<File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="2E88128D-CE2F-468A-BB93-3CD66FA18C20">
				<File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="E2269A58-367E-40CE-A3D6-5C29BC02F981">
				<File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.dll" Guid="DDC6BCCC-8C74-44F4-B160-FA78C8942FEC">
				<File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Logging.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Options.dll" Guid="C6413DA8-74BB-4845-AEA6-31D1F36225C9">
				<File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Options.dll" />
			</Component>
			<Component Id="NLog.config" Guid="3AD7C281-F27F-41F4-8284-EA794F996CC9">
				<File Id="NLog.config" Name="NLog.config" Source="$(var.TimeTracker_TargetDir)NLog.config" />
			</Component>
			<Component Id="NLog.Extensions.Logging.dll" Guid="F1671E70-5469-4737-B2CE-AFBE90A1C49E">
				<File Id="NLog.Extensions.Logging.dll" Name="NLog.Extensions.Logging.dll" Source="$(var.TimeTracker_TargetDir)NLog.Extensions.Logging.dll" />
			</Component>
			<Component Id="NLog.xsd" Guid="663B4B27-025F-4769-A09E-DCB2AD9F7CE8">
				<File Id="NLog.xsd" Name="NLog.xsd" Source="$(var.TimeTracker_TargetDir)NLog.xsd" />
			</Component>
			<Component Id="Simplify.Resources.dll" Guid="2F2E0B30-1A7B-4A06-91E8-3CAEE6EDF916">
				<File Id="Simplify.Resources.dll" Name="Simplify.Resources.dll" Source="$(var.TimeTracker_TargetDir)Simplify.Resources.dll" />
			</Component>
			<Component Id="Simplify.Windows.Forms.dll" Guid="E766F1CF-7CFF-4564-94E9-13C3CD2F7C46">
				<File Id="Simplify.Windows.Forms.dll" Name="Simplify.Windows.Forms.dll" Source="$(var.TimeTracker_TargetDir)Simplify.Windows.Forms.dll" />
			</Component>
			<Component Id="TimeTracker.deps.json" Guid="44217918-1DFB-45B4-9F00-B501373B9377">
				<File Id="TimeTracker.deps.json" Name="TimeTracker.deps.json" Source="$(var.TimeTracker_TargetDir)TimeTracker.deps.json" />
			</Component>
			<Component Id="TimeTracker.exe" Guid="EF5B3AC5-2628-490F-996D-47CF7FFE308C">
				<File Id="TimeTracker.exe" Name="TimeTracker.exe" Source="$(var.TimeTracker_TargetDir)TimeTracker.exe" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="f3ff80a5-9537-4358-82be-28e07abde5e5">
				<File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="c8bde6ee-e88e-4f91-941a-a7c7ba12be8b">
				<File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
			</Component>
			<Component Id="ExcelNumberFormat.dll" Guid="e6a3a069-52ca-4433-885f-b51f8090d026">
				<File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.TimeTracker_TargetDir)ExcelNumberFormat.dll" />
			</Component>
			<Component Id="DocumentFormat.OpenXml.dll" Guid="ed2dd228-c4ea-4b44-83bf-ec520f52df86">
				<File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.TimeTracker_TargetDir)DocumentFormat.OpenXml.dll" />
			</Component>
			<Component Id="StarkbankEcdsa.dll" Guid="57fad410-04c5-4219-ade0-52d3038b7c13">
				<File Id="StarkbankEcdsa.dll" Name="StarkbankEcdsa.dll" Source="$(var.TimeTracker_TargetDir)StarkbankEcdsa.dll" />
			</Component>
			<Component Id="plist_cil.dll" Guid="f1d5c169-4454-49b9-a7db-ff82f1a30ccd">
				<File Id="plist_cil.dll" Name="plist-cil.dll" Source="$(var.TimeTracker_TargetDir)plist-cil.dll" />
			</Component>
			<Component Id="UrlHistoryLibrary.dll" Guid="f9ee2581-380a-4a55-92b9-98ef9c95c9a7">
				<File Id="UrlHistoryLibrary.dll" Name="UrlHistoryLibrary.dll" Source="$(var.TimeTracker_TargetDir)UrlHistoryLibrary.dll" />
			</Component>
			<Component Id="System.Data.SQLite.dll" Guid="e1e212f9-a9d9-4348-b417-681dcb391929">
				<File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.TimeTracker_TargetDir)System.Data.SQLite.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Primitives.dll" Guid="bea55102-6a4c-420b-b667-eeb70fe901d0">
				<File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Primitives.dll" />
			</Component>
			<Component Id="MaterialDesignColors.dll" Guid="bc766ec3-6a2f-4b31-a11b-861de852879e">
				<File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.TimeTracker_TargetDir)MaterialDesignColors.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="38b61c30-734e-4557-ab8d-00f9494ba7fe">
				<File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="7b9185fd-9e30-40b2-a7c8-bc6628ea48b6">
				<File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="30027c25-40fd-4771-8889-048da615006c">
				<File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="aeee0b8e-1763-4fa1-bc10-3354ac4a2f4d">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.TimeTracker_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="NLog.dll" Guid="dbd2a744-efe6-4de4-a601-d415113402f8">
				<File Id="NLog.dll" Name="NLog.dll" Source="$(var.TimeTracker_TargetDir)NLog.dll" />
			</Component>
			<Component Id="ClosedXML.dll" Guid="4955f7b3-5500-41b5-a220-9f88bf80dfce">
				<File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.TimeTracker_TargetDir)ClosedXML.dll" />
			</Component>
			<Component Id="SendGrid.dll" Guid="a27814ee-2464-4d37-b991-e36b100661c8">
				<File Id="SendGrid.dll" Name="SendGrid.dll" Source="$(var.TimeTracker_TargetDir)SendGrid.dll" />
			</Component>
			<Component Id="CommonServiceLocator.dll" Guid="d3cae354-78ce-4ced-88f9-964a2fc14121">
				<File Id="CommonServiceLocator.dll" Name="CommonServiceLocator.dll" Source="$(var.TimeTracker_TargetDir)CommonServiceLocator.dll" />
			</Component>
			<Component Id="BrowserHistoryGatherer.dll" Guid="d63b3eae-49c6-4d73-81b2-f2a05482a3e6">
				<File Id="BrowserHistoryGatherer.dll" Name="BrowserHistoryGatherer.dll" Source="$(var.TimeTracker_TargetDir)BrowserHistoryGatherer.dll" />
			</Component>
			<Component Id="System.Management.dll" Guid="c95e6b93-0263-48ea-b89f-44f612288b28">
				<File Id="System.Management.dll" Name="System.Management.dll" Source="$(var.TimeTracker_TargetDir)System.Management.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.dll" Guid="54ee8100-749f-4b69-bd6b-86f386116d18">
				<File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="ac2ba62c-4397-4e2a-b749-c3c7ed2cf64c">
				<File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
			</Component>
			<Component Id="MaterialDesignThemes.Wpf.dll" Guid="5cdb74e6-472e-4b1b-9980-6097edb6d18d">
				<File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.TimeTracker_TargetDir)MaterialDesignThemes.Wpf.dll" />
			</Component>
			<Component Id="FontAwesome.WPF.dll" Guid="8245fc4a-0fcf-4f7e-b9cc-a2cdd762d953">
				<File Id="FontAwesome.WPF.dll" Name="FontAwesome.WPF.dll" Source="$(var.TimeTracker_TargetDir)FontAwesome.WPF.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="55e8be29-9ebe-4f13-9ca2-bc10e233150a">
				<File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Material.dll" Guid="45841dcf-fbb1-4065-982a-4954aaaaae0b">
				<File Id="MahApps.Metro.IconPacks.Material.dll" Name="MahApps.Metro.IconPacks.Material.dll" Source="$(var.TimeTracker_TargetDir)MahApps.Metro.IconPacks.Material.dll" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Core.dll" Guid="2c328ab7-3351-4f2b-9a17-14d4cde58c1e">
				<File Id="MahApps.Metro.IconPacks.Core.dll" Name="MahApps.Metro.IconPacks.Core.dll" Source="$(var.TimeTracker_TargetDir)MahApps.Metro.IconPacks.Core.dll" />
			</Component>
			<Component Id="TimeTracker.dll" Guid="30a9bbdd-c868-4ea4-8ee9-2b7b3104c2bc">
				<File Id="TimeTracker.dll" Name="TimeTracker.dll" Source="$(var.TimeTracker_TargetDir)TimeTracker.dll" />
			</Component>
			<Component Id="System.Windows.Interactivity.dll" Guid="a30b1555-de90-4d34-b612-956a3d120d9a">
				<File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.TimeTracker_TargetDir)System.Windows.Interactivity.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="17b1bd40-1cb0-478e-a511-a434266e1af2">
				<File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="a92f8057-9931-440e-86d4-4263603b94da">
				<File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Icon_files" Directory="Icons">
			<Component Id="employeesServer.png" Guid="36015BEB-7E8B-499C-96F0-99F80038EC17">
				<File Id="employeesServer.png" Name="employees-server.png" Source="$(var.TimeTracker_TargetDir)Icons\employees-server.png" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="Media_Audio_Files" Directory="Audio">
			<Component Id="screencaptureSound.wav" Guid="94631363-5D49-4BB5-93AD-38EEFA4CC4C6">
				<File Id="screencaptureSound.wav" Name="screencaptureSound.wav" Source="$(var.TimeTracker_TargetDir)Media\Audio\screencaptureSound.wav" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="Media_Image_Files" Directory="Images">
			<Component Id="logo.ico" Guid="C00541F4-1C4B-43DC-9DC0-CFA40E950628">
				<File Id="logo.ico" Name="logo.ico" Source="$(var.TimeTracker_TargetDir)Media\Images\logo.ico" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="runtimes_linux64" Directory="linux64_native">
			<Component Id="LinuxSQLite.Interop.dll" Guid="A9ABF729-6167-45EC-B9F9-F08D910711AC">
				<File Id="LinuxSQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\linux-x64\native\SQLite.Interop.dll" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="runtimes_osx64" Directory="osx64_native">
			<Component Id="OSXSQLite.Interop.dll" Guid="0CF14721-C642-4A2E-88B4-E29B251AABCC">
				<File Id="OSXSQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\osx-x64\native\SQLite.Interop.dll" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="runtimes_win64" Directory="win64_native">
			<Component Id="Win64SQLite.Interop.dll" Guid="C95E151B-7430-4278-AE19-54F0B99C9B8B">
				<File Id="Win64SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win-x64\native\SQLite.Interop.dll" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="runtimes_win86" Directory="win86_native">
			<Component Id="Win86SQLite.Interop.dll" Guid="1B64134B-DBC9-4E27-8382-35357227695E">
				<File Id="Win86SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win-x86\native\SQLite.Interop.dll" />
			</Component>
		</ComponentGroup>
	
		<ComponentGroup Id="runtimes_win" Directory="net7.0">
			<Component Id="WinSystem.Management.dll" Guid="67281EE9-5E2C-4462-8ACF-8F507803D1EB">
				<File Id="WinSystem.Management.dll" Name="System.Management.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win\lib\net7.0\System.Management.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>	
</Wix>
