<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define TimeTracker_TargetDir=$(var.TimeTracker.TargetDir)?>
	<Product Id="*" Name="EffortlessHRM.TimeTracker" Language="1033" Version="1.0.0.0" Manufacturer="ARSTEG" UpgradeCode="4251cac2-f5f5-4560-8e41-a0f3d0655cbd">
		
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
		<UIRef Id="MyWixUI_Mondo"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf"/>
		<Upgrade Id="0AE7FFBB-FF29-4F98-B6AA-015FB0974D46">
			<UpgradeVersion  Minimum="1.0.0.0" Maximum="99.99.99.99" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\favicon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Feature Id="ProductFeature" Title="Setup_TimeTracker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="Media_Audio_Component_Group" />
			<ComponentGroupRef Id="Media_Images_Component_Group" />
			<ComponentGroupRef Id="Icons_Component_Group" />
			<ComponentGroupRef Id="runtimes_linux_x64_native_component_group" />
			<ComponentGroupRef Id="runtimes_osx_x64_native_component_group" />
			<ComponentGroupRef Id="runtimes_win_x64_native_component_group" />
			<ComponentGroupRef Id="runtimes_win_x86_native_component_group" />
			<ComponentGroupRef Id="runtimes_win_native_component_group" />
			<ComponentRef Id="ApplicationShortcutDesktop"/>
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Arsteg"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ApplicationShortcutDesktop" Guid="*">
					<Shortcut Id="ApplicationDesktopShortcut"
						Name="TimeTracker"
						Description="TimeTracker"
						Target="[INSTALLFOLDER]TimeTracker.exe"
						WorkingDirectory="INSTALLFOLDER"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue
						Root="HKCU"
						Key="Software\Arsteg\TimeTracker"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes"/>
				</Component>
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ARSTEG" Name="ARSTEG">
					<Directory Id="INSTALLFOLDER" Name="EffortlessHRM.TimeTracker">
					<Directory Id="Media_Folder" Name="Media">
						<Directory Id="Media_Audio_Folder" Name="Audio"></Directory>
						<Directory Id="Media_Images_Folder" Name="Images"></Directory>
					</Directory>
					<Directory Id="Icons_Folder" Name="Icons"></Directory>
					<Directory Id="runtimes_Folder" Name="runtimes">
						<Directory Id="linux_x64_runtimes" Name="linux-x64">
							<Directory Id="native_linux_x64_runtimes" Name="native"></Directory>
						</Directory>
						<Directory Id="osx_x64_runtimes" Name="osx-x64">
							<Directory Id="native_osx_x64_runtimes" Name="native"></Directory>
						</Directory>
						<Directory Id="win_x64_runtimes" Name="win-x64">
							<Directory Id="native_win_x64_runtimes" Name="native"></Directory>
						</Directory>
						<Directory Id="win_x86_runtimes" Name="win-x86">
							<Directory Id="native_win_x86_runtimes" Name="native"></Directory>
						</Directory>
						<Directory Id="win_runtimes" Name="win">
							<Directory Id="lib_win_runtimes" Name="lib">
								<Directory Id="net7.0_lib_win_runtimes" Name="net7.0"></Directory>
							</Directory>
						</Directory>
					</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="58E381C0-AF6E-49C2-B577-CE6898A5518C">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="TimeTracker"
						  Description="TimeTracker"
						  Target="[INSTALLFOLDER]TimeTracker.exe"
						  WorkingDirectory="INSTALLFOLDER"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Arsteg\TimeTracker" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="nlog.config" Guid="ab1a8287-508e-4636-af71-d79fe8e22655">
				<File Id="nlog.config" Name="nlog.config" Source="$(var.TimeTracker_TargetDir)nlog.config" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="9a61e6c6-4389-4d34-9c43-6c40c540f836">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.TimeTracker_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="924f3b6c-21d4-4995-83a5-0053e70022da">
				<File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="428f0608-9b0c-4fac-a4cb-00508df454ad">
				<File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="c8d4ef6c-c7f3-430d-8b59-313a33f802c2">
				<File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
			</Component>
			<Component Id="MaterialDesignColors.dll" Guid="b214142b-3b1b-43ee-a0aa-9dc239e517ac">
				<File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.TimeTracker_TargetDir)MaterialDesignColors.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Primitives.dll" Guid="753a2ae3-1509-474a-b5d3-a40065cfa6bf">
				<File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Primitives.dll" />
			</Component>
			<Component Id="NLog.dll" Guid="f8cf585d-d555-406b-82ac-f5488912a223">
				<File Id="NLog.dll" Name="NLog.dll" Source="$(var.TimeTracker_TargetDir)NLog.dll" />
			</Component>
			<Component Id="System.Data.SQLite.dll" Guid="d9bd047e-a1a7-4747-ba7e-635ea274d075">
				<File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.TimeTracker_TargetDir)System.Data.SQLite.dll" />
			</Component>
			<Component Id="plist_cil.dll" Guid="8e115e6a-6085-48b6-bd06-84d3bc6d8e40">
				<File Id="plist_cil.dll" Name="plist-cil.dll" Source="$(var.TimeTracker_TargetDir)plist-cil.dll" />
			</Component>
			<Component Id="StarkbankEcdsa.dll" Guid="59fd4c88-7c3d-4101-8716-b18a0d09ce3b">
				<File Id="StarkbankEcdsa.dll" Name="StarkbankEcdsa.dll" Source="$(var.TimeTracker_TargetDir)StarkbankEcdsa.dll" />
			</Component>
			<Component Id="DocumentFormat.OpenXml.dll" Guid="cd07f02d-2e95-498b-9ac9-f20852405733">
				<File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.TimeTracker_TargetDir)DocumentFormat.OpenXml.dll" />
			</Component>
			<Component Id="ExcelNumberFormat.dll" Guid="a85f9d25-3ef9-43f4-b24a-de6675e3cae3">
				<File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.TimeTracker_TargetDir)ExcelNumberFormat.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="b4978f1e-1863-4582-9927-3b842aaf1b8b">
				<File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="58ffdd87-2015-436f-81f5-59c845afa9c0">
				<File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
			</Component>
			<Component Id="UrlHistoryLibrary.dll" Guid="971c4518-4a84-4c6c-b02b-93e648ffe4d5">
				<File Id="UrlHistoryLibrary.dll" Name="UrlHistoryLibrary.dll" Source="$(var.TimeTracker_TargetDir)UrlHistoryLibrary.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="c10566d4-216b-4a0b-b2ad-c922030e39b0">
				<File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
			</Component>
			<Component Id="ClosedXML.dll" Guid="338ffdba-9ec8-436d-bafa-ba144511aca8">
				<File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.TimeTracker_TargetDir)ClosedXML.dll" />
			</Component>
			<Component Id="TimeTracker.runtimeconfig.json" Guid="2e27ee28-c3de-44ac-ae01-d70c96db94b8">
				<File Id="TimeTracker.runtimeconfig.json" Name="TimeTracker.runtimeconfig.json" Source="$(var.TimeTracker_TargetDir)TimeTracker.runtimeconfig.json" />
			</Component>
			<Component Id="CommonServiceLocator.dll" Guid="1e3cf000-9d65-4e01-89ab-ef4e70a1ce62">
				<File Id="CommonServiceLocator.dll" Name="CommonServiceLocator.dll" Source="$(var.TimeTracker_TargetDir)CommonServiceLocator.dll" />
			</Component>
			<Component Id="TimeTracker.dll" Guid="5e4c5c24-5a4e-4016-83a0-fd0269c5e4de">
				<File Id="TimeTracker.dll" Name="TimeTracker.dll" Source="$(var.TimeTracker_TargetDir)TimeTracker.dll" />
			</Component>
			<Component Id="TimeTracker.dll.config" Guid="bbbb95c7-2add-4f02-a97d-f98e873c0fcd">
				<File Id="TimeTracker.dll.config" Name="TimeTracker.dll.config" Source="$(var.TimeTracker_TargetDir)TimeTracker.dll.config" />
			</Component>
			<Component Id="System.Windows.Interactivity.dll" Guid="726d86ae-73ac-4bda-8f96-d46a159f618f">
				<File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.TimeTracker_TargetDir)System.Windows.Interactivity.dll" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Core.dll" Guid="5749baeb-681e-4229-9ee2-4f2d49d5cf8f">
				<File Id="MahApps.Metro.IconPacks.Core.dll" Name="MahApps.Metro.IconPacks.Core.dll" Source="$(var.TimeTracker_TargetDir)MahApps.Metro.IconPacks.Core.dll" />
			</Component>
			<Component Id="SendGrid.dll" Guid="7f421d61-fb7b-433b-af3d-afd00c8c6935">
				<File Id="SendGrid.dll" Name="SendGrid.dll" Source="$(var.TimeTracker_TargetDir)SendGrid.dll" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Material.dll" Guid="863e98fb-f7ac-4da9-bc87-928ed9a578d5">
				<File Id="MahApps.Metro.IconPacks.Material.dll" Name="MahApps.Metro.IconPacks.Material.dll" Source="$(var.TimeTracker_TargetDir)MahApps.Metro.IconPacks.Material.dll" />
			</Component>
			<Component Id="FontAwesome.WPF.dll" Guid="e3789f2a-8c4c-4df3-b642-104e04e138d5">
				<File Id="FontAwesome.WPF.dll" Name="FontAwesome.WPF.dll" Source="$(var.TimeTracker_TargetDir)FontAwesome.WPF.dll" />
			</Component>
			<Component Id="MaterialDesignThemes.Wpf.dll" Guid="c00c9038-6931-4db5-a00b-9a6a5001ca9f">
				<File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.TimeTracker_TargetDir)MaterialDesignThemes.Wpf.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="c42c8b14-b610-42fc-aa17-f08ac8dd2d1b">
				<File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.dll" Guid="00c8c9c6-11e1-4ca5-88c8-24c412dc4def">
				<File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.dll" />
			</Component>
			<Component Id="System.Management.dll" Guid="8127a1b0-9d85-4c90-8c7f-56f07b35dede">
				<File Id="System.Management.dll" Name="System.Management.dll" Source="$(var.TimeTracker_TargetDir)System.Management.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="fe341f93-c51e-45ef-ad2d-4542110e30af">
				<File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.TimeTracker_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
			</Component>
			<Component Id="BrowserHistoryGatherer.dll" Guid="32b54816-1b56-40d0-9183-139323703014">
				<File Id="BrowserHistoryGatherer.dll" Name="BrowserHistoryGatherer.dll" Source="$(var.TimeTracker_TargetDir)BrowserHistoryGatherer.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="d58fc5ce-d123-4c57-8e98-ff85daf6d443">
				<File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
			</Component>
			<Component Id="appsettings.json" Guid="870DB332-5EA8-4BB7-939D-78BA17A4E947">
				<File Id="appsettings.json" Name="appsettings.json" Source="$(var.TimeTracker_TargetDir)appsettings.json"></File>
			</Component>
			<Component Id="BrowserHistoryGatherer.pdb" Guid="FC523593-9474-408C-BA81-3E7995CAB201">
				<File Id="BrowserHistoryGatherer.pdb" Name="BrowserHistoryGatherer.pdb" Source="$(var.TimeTracker_TargetDir)BrowserHistoryGatherer.pdb"></File>
			</Component>
			<Component Id="Dapper.dll" Guid="2C6554DD-79F1-4273-95A8-193C6F276821">
				<File Id="Dapper.dll" Name="Dapper.dll" Source="$(var.TimeTracker_TargetDir)Dapper.dll"></File>
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="ACD5CB63-E145-4F78-BAD2-B2D675D14BE1">
				<File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll"></File>
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="6F7EBC4F-C95D-44B3-9BED-A8816C9E5048">
				<File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.DependencyInjection.dll"></File>
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="DDBE72EA-EF5E-4772-B24F-A48FFC678DE9">
				<File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll"></File>
			</Component>
			<Component Id="Microsoft.Extensions.Logging.dll" Guid="C07F7C2F-9EAC-4695-9D91-44F8C8517FE6">
				<File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Logging.dll"></File>
			</Component>
			<Component Id="Microsoft.Extensions.Options.dll" Guid="7D407540-EE79-4A2D-B0BB-2B1C16F454CF">
				<File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Extensions.Options.dll"></File>
			</Component>
			<Component Id="NLog.Extensions.Logging.dll" Guid="1C897192-D866-445D-B18A-08999C075B26">
				<File Id="NLog.Extensions.Logging.dll" Name="NLog.Extensions.Logging.dll" Source="$(var.TimeTracker_TargetDir)NLog.Extensions.Logging.dll"></File>
			</Component>
			<Component Id="NLog.xsd" Guid="1A51BBC5-624B-46E1-BE2D-9A2C988B5C3A">
				<File Id="NLog.xsd" Name="NLog.xsd" Source="$(var.TimeTracker_TargetDir)NLog.xsd"></File>
			</Component>
			<Component Id="SharpVectors.Converters.Wpf.dll" Guid="94B85C30-9FBE-484F-88C2-2ADC1E719F6D">
				<File Id="SharpVectors.Converters.Wpf.dll" Name="SharpVectors.Converters.Wpf.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Converters.Wpf.dll"></File>
			</Component>
			<Component Id="SharpVectors.Core.dll" Guid="8B28DB4B-681E-444F-B63D-88B634E46CF1">
				<File Id="SharpVectors.Core.dll" Name="SharpVectors.Core.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Core.dll"></File>
			</Component>
			<Component Id="SharpVectors.Css.dll" Guid="2BA64256-6CFE-40E2-9D13-B2BFFB6DEA51">
				<File Id="SharpVectors.Css.dll" Name="SharpVectors.Css.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Css.dll"></File>
			</Component>
			<Component Id="SharpVectors.Dom.dll" Guid="177BADE6-BC9B-4CF0-BD86-0E73047E56FF">
				<File Id="SharpVectors.Dom.dll" Name="SharpVectors.Dom.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Dom.dll"></File>
			</Component>
			<Component Id="SharpVectors.Model.dll" Guid="E872EFE7-CC58-497E-8581-AC9DD7DDD2F5">
				<File Id="SharpVectors.Model.dll" Name="SharpVectors.Model.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Model.dll"></File>
			</Component>
			<Component Id="SharpVectors.Rendering.Wpf.dll" Guid="3D46FA3F-76FA-4236-AE24-A224B241C4CC">
				<File Id="SharpVectors.Rendering.Wpf.dll" Name="SharpVectors.Rendering.Wpf.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Rendering.Wpf.dll"></File>
			</Component>
			<Component Id="SharpVectors.Runtime.Wpf.dll" Guid="C600BD7A-7791-4DEA-95CA-1473B35A306B">
				<File Id="SharpVectors.Runtime.Wpf.dll" Name="SharpVectors.Runtime.Wpf.dll" Source="$(var.TimeTracker_TargetDir)SharpVectors.Runtime.Wpf.dll"></File>
			</Component>
			<Component Id="Simplify.Resources.dll" Guid="B77784E6-C679-4051-A71E-3B420EEE9B83">
				<File Id="Simplify.Resources.dll" Name="Simplify.Resources.dll" Source="$(var.TimeTracker_TargetDir)Simplify.Resources.dll"></File>
			</Component>
			<Component Id="Simplify.Windows.Forms.dll" Guid="427BAACF-62A2-4C11-B902-6E605D4BF8CB">
				<File Id="Simplify.Windows.Forms.dll" Name="Simplify.Windows.Forms.dll" Source="$(var.TimeTracker_TargetDir)Simplify.Windows.Forms.dll"></File>
			</Component>
			<Component Id="TimeTracker.deps.json" Guid="0EA9FDA3-75B0-4CE5-BEB7-E681C852247C">
				<File Id="TimeTracker.deps.json" Name="TimeTracker.deps.json" Source="$(var.TimeTracker_TargetDir)TimeTracker.deps.json"></File>
			</Component>
			<Component Id="TimeTracker.exe" Guid="B3BC423C-2DA2-4F7E-9319-655B5C59C379">
				<File Id="TimeTracker.exe" Name="TimeTracker.exe" Source="$(var.TimeTracker_TargetDir)TimeTracker.exe"></File>
			</Component>
			<Component Id="TimeTracker.pdb" Guid="121A46A4-CA3E-4340-B250-6382894B4A9E">
				<File Id="TimeTracker.pdb" Name="TimeTracker.pdb" Source="$(var.TimeTracker_TargetDir)TimeTracker.pdb"></File>
			</Component>
			<Component Id="UrlHistoryLibrary.pdb" Guid="3902069E-7B6D-437B-9E88-9A6FCCACB287">
				<File Id="UrlHistoryLibrary.pdb" Name="UrlHistoryLibrary.pdb" Source="$(var.TimeTracker_TargetDir)UrlHistoryLibrary.pdb"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Media_Audio_Component_Group" Directory="Media_Audio_Folder">
			<Component Id="Media_Audio_screencaptureSound.wav" Guid="53f8edd1-ff82-4d46-88c8-a3683a62d2af">
				<File Id="Media_Audio_screencaptureSound.wav" Name="screencaptureSound.wav" Source="$(var.TimeTracker_TargetDir)Media\Audio\screencaptureSound.wav" />
			</Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Media_Images_Component_Group" Directory="Media_Images_Folder">
			<Component Id="Media_Images_smallLogo.png" Guid="E1C6030B-BEE3-43FC-BCE3-3EC814083234">
				<File Id="Media_Images_smallLogo.png" Name="smallLogo.png" Source="$(var.TimeTracker_TargetDir)Media\Images\smallLogo.png" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Icons_Component_Group" Directory="Icons_Folder">
			<Component Id="Icons_employees_server.png" Guid="870F72C9-558A-4063-A151-ACAF740B4C3C">
				<File Id="Icons_employees_server.png" Name="employees-server.png" Source="$(var.TimeTracker_TargetDir)Icons\employees-server.png"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="runtimes_linux_x64_native_component_group" Directory="native_linux_x64_runtimes">
			<Component Id="runtimes_linux_x64_native_SQLite.Interop.dll" Guid="2EFBAA4A-06D5-418D-9C7C-EA0A8CF09920">
				<File Id="Linux_SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\linux-x64\native\SQLite.Interop.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="runtimes_osx_x64_native_component_group" Directory="native_osx_x64_runtimes">
			<Component Id="runtimes_osx_x64_native_SQLite.Interop.dll" Guid="464EF081-CC0B-4A26-808A-527371999C17">
				<File Id="osx64_SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\osx-x64\native\SQLite.Interop.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="runtimes_win_x64_native_component_group" Directory="native_win_x64_runtimes">
			<Component Id="runtimes_win_x64_native_SQLite.Interop.dll" Guid="919BF839-3A6A-4086-9C9F-C5F2DF19F6C7">
				<File Id="Win64_SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win-x64\native\SQLite.Interop.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="runtimes_win_x86_native_component_group" Directory="native_win_x86_runtimes">
			<Component Id="runtimes_win_x86_native_SQLite.Interop.dll" Guid="C4C0B4DA-345E-4B2B-A24A-09B21C580858">
				<File Id="SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win-x86\native\SQLite.Interop.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="runtimes_win_native_component_group" Directory="net7.0_lib_win_runtimes">
			<Component Id="runtimes_win_native_System.Management.dll" Guid="1C426C89-B292-44F0-B6A8-C7AE7310D7B8">
				<File Id="win_System.Management.dll" Name="System.Management.dll" Source="$(var.TimeTracker_TargetDir)runtimes\win\lib\net7.0\System.Management.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<UI Id="MyWixUI_Mondo">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Mondo" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed AND NOT PATCH</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">LicenseAccepted = "1"</Publish>

			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>
